.navigation {
	padding: 0 8px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 72px;
	box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
}
.navigation ul {
	display: flex;
	list-style: none;
	gap: 24px;
	font-weight: 500;
}
.navigation ul li {
	font-size: 1.8rem;
}
